<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="raceLocationItem">
            <h2><span jhiTranslate="gluscoApp.raceLocationItem.detail.title">Race Location Item</span> {{raceLocationItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gluscoApp.raceLocationItem.raceLocation">Race Location</span></dt>
                <dd>
                    <div *ngIf="raceLocationItem.raceLocationId">
                        <a [routerLink]="['/race-location', raceLocationItem.raceLocationId, 'view']">{{raceLocationItem.raceLocationType}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gluscoApp.raceLocationItem.raceItem">Race Item</span></dt>
                <dd>
                    <div *ngIf="raceLocationItem.raceItemId">
                        <a [routerLink]="['/race-item', raceLocationItem.raceItemId, 'view']">{{raceLocationItem.raceItemType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/race-location-item', raceLocationItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
