<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-race-location-item-heading" jhiTranslate="gluscoApp.raceLocationItem.home.createOrEditLabel">Create or edit a Race Location Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!raceLocationItem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="raceLocationItem.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.raceLocationItem.raceLocation" for="field_raceLocation">Race Location</label>
                    <select class="form-control" id="field_raceLocation" name="raceLocation" [(ngModel)]="raceLocationItem.raceLocationId"  required>
                        <option *ngIf="!editForm.value.raceLocation" [ngValue]="null" selected></option>
                        <option [ngValue]="raceLocationOption.id" *ngFor="let raceLocationOption of racelocations; trackBy: trackRaceLocationById">{{raceLocationOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.raceLocation?.dirty && editForm.controls.raceLocation?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.raceLocation?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.raceLocationItem.raceItem" for="field_raceItem">Race Item</label>
                    <select class="form-control" id="field_raceItem" name="raceItem" [(ngModel)]="raceLocationItem.raceItemId"  required>
                        <option *ngIf="!editForm.value.raceItem" [ngValue]="null" selected></option>
                        <option [ngValue]="raceItemOption.id" *ngFor="let raceItemOption of raceitems; trackBy: trackRaceItemById">{{raceItemOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.raceItem?.dirty && editForm.controls.raceItem?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.raceItem?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
