<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userCarSet">
            <h2><span jhiTranslate="gluscoApp.userCarSet.detail.title">User Car Set</span> {{userCarSet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gluscoApp.userCarSet.color">Color</span></dt>
                <dd>
                    <span>{{userCarSet.color}}</span>
                </dd>
                <dt><span jhiTranslate="gluscoApp.userCarSet.car">Car</span></dt>
                <dd>
                    <div *ngIf="userCarSet.carId">
                        <a [routerLink]="['/car', userCarSet.carId, 'view']">{{userCarSet.carType}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gluscoApp.userCarSet.userPersonSet">User Person Set</span></dt>
                <dd>
                    <div *ngIf="userCarSet.userPersonSetId">
                        <a [routerLink]="['/user-person-set', userCarSet.userPersonSetId, 'view']">{{userCarSet.userPersonSetId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-car-set', userCarSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
