<div>
    <h2 id="page-heading">
        <span jhiTranslate="gluscoApp.userCarSet.home.title">User Car Sets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-car-set" [routerLink]="['/user-car-set/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gluscoApp.userCarSet.home.createLabel">
            Create new User Car Set
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userCarSets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="color"><span jhiTranslate="gluscoApp.userCarSet.color">Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carType"><span jhiTranslate="gluscoApp.userCarSet.car">Car</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userPersonSetId"><span jhiTranslate="gluscoApp.userCarSet.userPersonSet">User Person Set</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userCarSet of userCarSets ;trackBy: trackId">
                <td><a [routerLink]="['/user-car-set', userCarSet.id, 'view' ]">{{userCarSet.id}}</a></td>
                <td>{{userCarSet.color}}</td>
                <td>
                    <div *ngIf="userCarSet.carId">
                        <a [routerLink]="['../car', userCarSet.carId , 'view' ]" >{{userCarSet.carType}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userCarSet.userPersonSetId">
                        <a [routerLink]="['../user-person-set', userCarSet.userPersonSetId , 'view' ]" >{{userCarSet.userPersonSetId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-car-set', userCarSet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-car-set', userCarSet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-car-set/'+ userCarSet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userCarSets && userCarSets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
