<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-car-set-heading" jhiTranslate="gluscoApp.userCarSet.home.createOrEditLabel">Create or edit a User Car Set</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userCarSet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userCarSet.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.userCarSet.color" for="field_color">Color</label>
                    <input type="text" class="form-control" name="color" id="field_color"
                        [(ngModel)]="userCarSet.color" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.userCarSet.car" for="field_car">Car</label>
                    <select class="form-control" id="field_car" name="car" [(ngModel)]="userCarSet.carId"  required>
                        <option *ngIf="!editForm.value.car" [ngValue]="null" selected></option>
                        <option [ngValue]="carOption.id" *ngFor="let carOption of cars; trackBy: trackCarById">{{carOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.car?.dirty && editForm.controls.car?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.car?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.userCarSet.userPersonSet" for="field_userPersonSet">User Person Set</label>
                    <select class="form-control" id="field_userPersonSet" name="userPersonSet" [(ngModel)]="userCarSet.userPersonSetId"  required>
                        <option *ngIf="!editForm.value.userPersonSet" [ngValue]="null" selected></option>
                        <option [ngValue]="userPersonSetOption.id" *ngFor="let userPersonSetOption of userpersonsets; trackBy: trackUserPersonSetById">{{userPersonSetOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.userPersonSet?.dirty && editForm.controls.userPersonSet?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.userPersonSet?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
