<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-race-heading" jhiTranslate="gluscoApp.race.home.createOrEditLabel">Create or edit a Race</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!race.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="race.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.race.itemCount" for="field_itemCount">Item Count</label>
                    <input type="number" class="form-control" name="itemCount" id="field_itemCount"
                        [(ngModel)]="race.itemCount" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.itemCount?.dirty && editForm.controls.itemCount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.itemCount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.itemCount?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.itemCount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.race.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdAt?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.race.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="race.userId"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.race.raceLocation" for="field_raceLocation">Race Location</label>
                    <select class="form-control" id="field_raceLocation" name="raceLocation" [(ngModel)]="race.raceLocationId"  required>
                        <option *ngIf="!editForm.value.raceLocation" [ngValue]="null" selected></option>
                        <option [ngValue]="raceLocationOption.id" *ngFor="let raceLocationOption of racelocations; trackBy: trackRaceLocationById">{{raceLocationOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.raceLocation?.dirty && editForm.controls.raceLocation?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.raceLocation?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.race.raceItem" for="field_raceItem">Race Item</label>
                    <select class="form-control" id="field_raceItem" name="raceItem" [(ngModel)]="race.raceItemId"  required>
                        <option *ngIf="!editForm.value.raceItem" [ngValue]="null" selected></option>
                        <option [ngValue]="raceItemOption.id" *ngFor="let raceItemOption of raceitems; trackBy: trackRaceItemById">{{raceItemOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.raceItem?.dirty && editForm.controls.raceItem?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.raceItem?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
