<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="race">
            <h2><span jhiTranslate="gluscoApp.race.detail.title">Race</span> {{race.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gluscoApp.race.itemCount">Item Count</span></dt>
                <dd>
                    <span>{{race.itemCount}}</span>
                </dd>
                <dt><span jhiTranslate="gluscoApp.race.createdAt">Created At</span></dt>
                <dd>
                    <span>{{race.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="gluscoApp.race.user">User</span></dt>
                <dd>
                    {{race.userLogin}}
                </dd>
                <dt><span jhiTranslate="gluscoApp.race.raceLocation">Race Location</span></dt>
                <dd>
                    <div *ngIf="race.raceLocationId">
                        <a [routerLink]="['/race-location', race.raceLocationId, 'view']">{{race.raceLocationType}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gluscoApp.race.raceItem">Race Item</span></dt>
                <dd>
                    <div *ngIf="race.raceItemId">
                        <a [routerLink]="['/race-item', race.raceItemId, 'view']">{{race.raceItemType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/race', race.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
