<div>
    <h2 id="page-heading">
        <span jhiTranslate="gluscoApp.race.home.title">Races</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-race" [routerLink]="['/race/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gluscoApp.race.home.createLabel">
            Create new Race
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="races">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemCount"><span jhiTranslate="gluscoApp.race.itemCount">Item Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdAt"><span jhiTranslate="gluscoApp.race.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="gluscoApp.race.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="raceLocationType"><span jhiTranslate="gluscoApp.race.raceLocation">Race Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="raceItemType"><span jhiTranslate="gluscoApp.race.raceItem">Race Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let race of races ;trackBy: trackId">
                <td><a [routerLink]="['/race', race.id, 'view' ]">{{race.id}}</a></td>
                <td>{{race.itemCount}}</td>
                <td>{{race.createdAt | date:'medium'}}</td>
                <td>
                    {{race.userLogin}}
                </td>
                <td>
                    <div *ngIf="race.raceLocationId">
                        <a [routerLink]="['../race-location', race.raceLocationId , 'view' ]" >{{race.raceLocationType}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="race.raceItemId">
                        <a [routerLink]="['../race-item', race.raceItemId , 'view' ]" >{{race.raceItemType}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/race', race.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/race', race.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'race/'+ race.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="races && races.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
