<div>
    <h2 id="page-heading">
        <span jhiTranslate="gluscoApp.personCar.home.title">Person Cars</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person-car" [routerLink]="['/person-car/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gluscoApp.personCar.home.createLabel">
            Create new Person Car
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="personCars">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personType"><span jhiTranslate="gluscoApp.personCar.person">Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carType"><span jhiTranslate="gluscoApp.personCar.car">Car</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personCar of personCars ;trackBy: trackId">
                <td><a [routerLink]="['/person-car', personCar.id, 'view' ]">{{personCar.id}}</a></td>
                <td>
                    <div *ngIf="personCar.personId">
                        <a [routerLink]="['../person', personCar.personId , 'view' ]" >{{personCar.personType}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="personCar.carId">
                        <a [routerLink]="['../car', personCar.carId , 'view' ]" >{{personCar.carType}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/person-car', personCar.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person-car', personCar.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'person-car/'+ personCar.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="personCars && personCars.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
