<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-person-car-heading" jhiTranslate="gluscoApp.personCar.home.createOrEditLabel">Create or edit a Person Car</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!personCar.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="personCar.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.personCar.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="personCar.personId"  required>
                        <option *ngIf="!editForm.value.person" [ngValue]="null" selected></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.person?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.personCar.car" for="field_car">Car</label>
                    <select class="form-control" id="field_car" name="car" [(ngModel)]="personCar.carId"  required>
                        <option *ngIf="!editForm.value.car" [ngValue]="null" selected></option>
                        <option [ngValue]="carOption.id" *ngFor="let carOption of cars; trackBy: trackCarById">{{carOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.car?.dirty && editForm.controls.car?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.car?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
