<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personCar">
            <h2><span jhiTranslate="gluscoApp.personCar.detail.title">Person Car</span> {{personCar.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gluscoApp.personCar.person">Person</span></dt>
                <dd>
                    <div *ngIf="personCar.personId">
                        <a [routerLink]="['/person', personCar.personId, 'view']">{{personCar.personType}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gluscoApp.personCar.car">Car</span></dt>
                <dd>
                    <div *ngIf="personCar.carId">
                        <a [routerLink]="['/car', personCar.carId, 'view']">{{personCar.carType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person-car', personCar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
