<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-person-set-heading" jhiTranslate="gluscoApp.userPersonSet.home.createOrEditLabel">Create or edit a User Person Set</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userPersonSet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userPersonSet.id" readonly />
                </div>

                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group" [hidden]="userPersonSet">
                    <label class="form-control-label" jhiTranslate="gluscoApp.userPersonSet.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="userPersonSet.userId">
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>

                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.userPersonSet.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="userPersonSet.personId"  required>
                        <option *ngIf="!editForm.value.person" [ngValue]="null" selected></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.person?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.userPersonSet.clothes" for="field_clothes">Clothes</label>
                    <select class="form-control" id="field_clothes" name="clothes" [(ngModel)]="userPersonSet.clothesId"  required>
                        <option *ngIf="!editForm.value.clothes" [ngValue]="null" selected></option>
                        <option [ngValue]="clothesOption.id" *ngFor="let clothesOption of clothes; trackBy: trackClothesById">{{clothesOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.clothes?.dirty && editForm.controls.clothes?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.clothes?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
