<div>
    <h2 id="page-heading">
        <span jhiTranslate="gluscoApp.userPersonSet.home.title">User Person Sets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-person-set" [routerLink]="['/user-person-set/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gluscoApp.userPersonSet.home.createLabel">
            Create new User Person Set
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userPersonSets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="gluscoApp.userPersonSet.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personType"><span jhiTranslate="gluscoApp.userPersonSet.person">Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clothesType"><span jhiTranslate="gluscoApp.userPersonSet.clothes">Clothes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userPersonSet of userPersonSets ;trackBy: trackId">
                <td><a [routerLink]="['/user-person-set', userPersonSet.id, 'view' ]">{{userPersonSet.id}}</a></td>
                <td>
                    {{userPersonSet.userLogin}}
                </td>
                <td>
                    <div *ngIf="userPersonSet.personId">
                        <a [routerLink]="['../person', userPersonSet.personId , 'view' ]" >{{userPersonSet.personType}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userPersonSet.clothesId">
                        <a [routerLink]="['../clothes', userPersonSet.clothesId , 'view' ]" >{{userPersonSet.clothesType}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-person-set', userPersonSet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-person-set', userPersonSet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-person-set/'+ userPersonSet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userPersonSets && userPersonSets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
