<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userPersonSet">
            <h2><span jhiTranslate="gluscoApp.userPersonSet.detail.title">User Person Set</span> {{userPersonSet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gluscoApp.userPersonSet.user">User</span></dt>
                <dd>
                    {{userPersonSet.userLogin}}
                </dd>
                <dt><span jhiTranslate="gluscoApp.userPersonSet.person">Person</span></dt>
                <dd>
                    <div *ngIf="userPersonSet.personId">
                        <a [routerLink]="['/person', userPersonSet.personId, 'view']">{{userPersonSet.personType}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gluscoApp.userPersonSet.clothes">Clothes</span></dt>
                <dd>
                    <div *ngIf="userPersonSet.clothesId">
                        <a [routerLink]="['/clothes', userPersonSet.clothesId, 'view']">{{userPersonSet.clothesType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-person-set', userPersonSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
