<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-race-reward-heading" jhiTranslate="gluscoApp.raceReward.home.createOrEditLabel">Create or edit a Race Reward</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!raceReward.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="raceReward.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.raceReward.rewardQr" for="field_rewardQr">Reward Qr</label>
                    <input type="text" class="form-control" name="rewardQr" id="field_rewardQr"
                        [(ngModel)]="raceReward.rewardQr" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.raceReward.race" for="field_race">Race</label>
                    <select class="form-control" id="field_race" name="race" [(ngModel)]="raceReward.raceId"  required>
                        <option *ngIf="!editForm.value.race" [ngValue]="null" selected></option>
                        <option [ngValue]="raceOption.id" *ngFor="let raceOption of races; trackBy: trackRaceById">{{raceOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.race?.dirty && editForm.controls.race?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.race?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gluscoApp.raceReward.reward" for="field_reward">Reward</label>
                    <select class="form-control" id="field_reward" name="reward" [(ngModel)]="raceReward.rewardId"  required>
                        <option *ngIf="!editForm.value.reward" [ngValue]="null" selected></option>
                        <option [ngValue]="rewardOption.id" *ngFor="let rewardOption of rewards; trackBy: trackRewardById">{{rewardOption.type}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.reward?.dirty && editForm.controls.reward?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reward?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
