<div>
    <h2 id="page-heading">
        <span jhiTranslate="gluscoApp.raceReward.home.title">Race Rewards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-race-reward" [routerLink]="['/race-reward/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gluscoApp.raceReward.home.createLabel">
            Create new Race Reward
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="raceRewards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardQr"><span jhiTranslate="gluscoApp.raceReward.rewardQr">Reward Qr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="raceId"><span jhiTranslate="gluscoApp.raceReward.race">Race</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardType"><span jhiTranslate="gluscoApp.raceReward.reward">Reward</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let raceReward of raceRewards ;trackBy: trackId">
                <td><a [routerLink]="['/race-reward', raceReward.id, 'view' ]">{{raceReward.id}}</a></td>
                <td>{{raceReward.rewardQr}}</td>
                <td>
                    <div *ngIf="raceReward.raceId">
                        <a [routerLink]="['../race', raceReward.raceId , 'view' ]" >{{raceReward.raceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="raceReward.rewardId">
                        <a [routerLink]="['../reward', raceReward.rewardId , 'view' ]" >{{raceReward.rewardType}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/race-reward', raceReward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/race-reward', raceReward.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'race-reward/'+ raceReward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="raceRewards && raceRewards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
