<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="raceReward">
            <h2><span jhiTranslate="gluscoApp.raceReward.detail.title">Race Reward</span> {{raceReward.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gluscoApp.raceReward.rewardQr">Reward Qr</span></dt>
                <dd>
                    <span>{{raceReward.rewardQr}}</span>
                </dd>
                <dt><span jhiTranslate="gluscoApp.raceReward.race">Race</span></dt>
                <dd>
                    <div *ngIf="raceReward.raceId">
                        <a [routerLink]="['/race', raceReward.raceId, 'view']">{{raceReward.raceId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gluscoApp.raceReward.reward">Reward</span></dt>
                <dd>
                    <div *ngIf="raceReward.rewardId">
                        <a [routerLink]="['/reward', raceReward.rewardId, 'view']">{{raceReward.rewardType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/race-reward', raceReward.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
