<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personClothes">
            <h2><span jhiTranslate="gluscoApp.personClothes.detail.title">Person Clothes</span> {{personClothes.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gluscoApp.personClothes.person">Person</span></dt>
                <dd>
                    <div *ngIf="personClothes.personId">
                        <a [routerLink]="['/person', personClothes.personId, 'view']">{{personClothes.personType}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gluscoApp.personClothes.clothes">Clothes</span></dt>
                <dd>
                    <div *ngIf="personClothes.clothesId">
                        <a [routerLink]="['/clothes', personClothes.clothesId, 'view']">{{personClothes.clothesType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person-clothes', personClothes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
